
<p> 
Datamaskiner, mobiltelefoner, webtjenester og programvare danner rammen for mye av vårt arbeid og vår fritid. <strong>Mine Verktøy</strong> er en samling av intervjuer hvor mennesker forteller hvordan de bruker ymse teknologi til arbeid og fritid.</p>

<p>
Har du en kreativ jobb hvor teknologi spiller en stor rolle? Eller kjenner du noen andre som har det? Jeg leter etter interessante folk å intervjue, så ta gjerne kontakt dersom du (eller en bekjent) har lyst til å fortelle om verktøyvalg.</p>

Henvendelser kan gjøres via mail: <a href="mailto:thomas@kjeldahlnilsson.net?subject=MineVerktøy henvendelse">thomas@kjeldahlnilsson.net</a>