
<p> 
Datamaskiner, mobiltelefoner, webtjenester og programvare danner rammen for mye av vårt arbeid og vår fritid. <strong>Mine Verktøy</strong> er en samling av intervjuer der ulike mennesker forteller hva slags teknologi de bruker til arbeid og fritid.</p>

<p>
Har du en kreativ jobb hvor teknologi spiller en stor rolle? Eller kjenner du noen andre som har det? Ta kontakt! Jeg leter etter engasjerte folk som har lyst til å fortelle om sine egne verktøyvalg.</p>

Henvendelser kan gjøres via mail til <a href="mailto:thomas@kjeldahlnilsson.net?subject=MineVerktøy henvendelse">thomas@kjeldahlnilsson.net</a>.