
<p> 
Datamaskiner, mobiltelefoner, webtjenester, programmer og annen teknologi danner rammen for vårt arbeid og fritid. <strong>Mine Verktøy</strong> er en samling av intervjuer der ulike mennesker forteller hva slags teknologi de bruker til daglig.</p>

<p>
Har du en kreativ jobb hvor teknologi spiller en stor rolle? Eller kjenner du noen andre som har det? <strong>Ta kontakt!</strong> Jeg leter etter engasjerte folk som har lyst til å fortelle om sine egne verktøyvalg.</p>

<p>Henvendelser kan gjøres via mail til <a href="mailto:thomas@kjeldahlnilsson.net?subject=MineVerktøy henvendelse">thomas@kjeldahlnilsson.net</a>.</p>

<p>Hvilke verkøy foretrekker så <a href="http://kjeldahlnilsson.net/">redaktøren</a> selv? Det kan du lese om i <a href="http://olemortenamundsen.wordpress.com/2011/06/16/intervju-av-intervjueren-i-mineverktoy-no-thomas-kjeldahl-nilsson/">dette eksterne intervjuet.</a> :)</p>
