
<p> 
De fleste av oss er avhengig av teknologi. Datamaskiner, mobiltelefoner, webtjenester og programvare danner rammen for mye av vårt arbeid og vår fritid.</p>	
	
<p><em>Mine Verktøy</em> er en samling av intervjuer hvor mennesker forteller hvordan de bruker ymse teknologi til arbeid og fritid.</p>
