<html>
  <head>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
	
	<header>
		<h1>
			Mine verktøy
		</h1>
		
		<p>
			<em>Hva bruker folk for å få jobben gjort?</em>
		</p>
	</header>
	
	
    <%= yield %>

	<footer>
		 <p>© 2011 Thomas Kjeldahl Nilsson</p>
	</footer>

  </body>
</html>