<!doctype html>
<html>
  <head>
	<title>Mine Verktøy</title>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">

        <!-- Google webfonts for logo -->
        <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        
	<!-- RSS autodiscovery -->
	<link rel="alternate" type="application/rss+xml" title="Mine Verktøy RSS" href="http://mineverktoy.com/rss.xml">

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="js/libs/modernizr-1.7.min.js"></script>
  
  </head>
  <body>

	<div id="container">
	  <header>

			<div id="title">
				<h1 class="right-aligned">
                                  <span id="logo-first-part">mine</span><span id="logo-second-part">Verktøy</span>
                                </h1>
				<section class="right-aligned slogan">
					Hva bruker folk for å få jobben gjort?
				</section>
			</div>

			<section class="right-aligned nav">
				<%= navbar %>
			</section>
			
	   </header>
	   <div id="main" role="main">
	 			<%= yield %>
	   </div>
	   <footer>
			<p>Få oppdateringer via <a href="http://mineverktoy.com/rss.xml">RSS</a> eller <a href="http://twitter.com/mineverktoy">Twitter</a>.</p>
		
			<p><a href="http://mineverktoy.com">Mine verktøy</a> drives av <a href="http://kjeldahlnilsson.net">Thomas Kjeldahl Nilsson</a>. Konseptet er opprinnelig basert på (og velsignet av) <a href="http://usesthis.com">The Setup</a>. Nettstedet er lisensiert under en <a href="http://creativecommons.org/licenses/by-sa/3.0/">Attribution-ShareAlike 3.0 Unported</a> lisens. Kildekoden er <a href="http://github.com/thomanil/mineverktoy">fritt tilgjengelig</a> for dem som er interessert i sånt.</p>
			
    	</footer>
  	</div> <!--! end of #container -->
	
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-8094387-7']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
  </body>
</html>
