.hidden {
	display:none;
}

.right-aligned {
	float: right;
}

hr {
	color: gray;
}

#container {
	font-family: Arial, "MS Trebuchet", sans-serif;
	width: 500px;
	margin-left: 170px;
	margin-bottom: 30px;
}

header {
	margin-top: 50px;
}

#main {
	margin-top: 70px;
	margin-bottom: 50px;
}

footer {
	margin-top: 60px;
	font-size: 0.8em;
	color: gray;
}

.interview-summary {
	margin-top: 50px;
}

.interview-pubdate {
	color: gray;
}

.interviewee-title {
	font-size: 0.8em;
}

.interviewee-name {
	font-size: 1.2em;
}

.interview-header {
	margin-bottom: 50px;
}

.interview-question {
	color: gray;
	margin-top: 40px;
	font-size: 0.9em;
}

.photo-attribution {
	color: gray;
	font-size: 0.8em;
}

a {
	color: #00610B;
}

a:visited {
	color: #00B515;
}

a:hover {
	text-decoration: none;
}


ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p {
	line-height: 1.5;
}