.hidden {
	display:none;
}

#container {
	font-family: Arial, "MS Trebuchet", sans-serif;
	width: 500px;
	margin-left: 80px;
}

header {
	margin-top: 50px;
}

#main {
	margin-top: 70px;
	margin-bottom: 50px;
}

footer {
	color: gray;
}

a {
	color: 00610B;
}

a:visited {
	color: 00B515;
}