<h2>Jane Doe</h2>

<h2>Hvem er du, og hva holder du på med?</h2>

Jane Doe, sykkelreparatør

<h2>Hva slags maskinvare bruker du?</h2>

Mac

<h2>Og hva slags programvare?</h2>

Safari

<h2>Hva er drømmeoppsettet ditt?</h2>

Harley Davidson