
<a href="om">Intervjuene</a> / <a href="om">Om nettstedet</a> 


<h2>John Smith</h2>


<h2>Hvem er du, og hva holder du på med?</h2>

John Smith, international man of mystery.

<h2>Hva slags maskinvare bruker du?</h2>

PC

<h2>Og hva slags programvare?</h2>

Firefox

<h2>Hva er drømmeoppsettet ditt?</h2>

Mac og sånt
