---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Hva er dette?"
        description="Om Mine Verktøy"
        pubDate={new Date('September 13 2023')}

>
    <p>
        Datamaskiner, mobiltelefoner, webtjenester, programmer og annen teknologi danner rammen for vårt arbeid og
        fritid.
        <strong>Mine Verktøy</strong> er en samling av intervjuer der ulike mennesker forteller hva slags teknologi de
        bruker til daglig.</p>
    <p>
        Har du en kreativ jobb hvor teknologi spiller en stor rolle? Eller kjenner du noen andre som har det? <strong>Ta
        kontakt!</strong>
        Jeg leter etter engasjerte folk som har lyst til å fortelle om sine egne verktøyvalg.</p>

    <p>
        <em>Henvendelser kan gjøres via mail til <a href="mailto:thomas+mineverktoy@tknilsson.com">thomas@tknilsson.com</a>.</em>
    </p>

</Layout>
