---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Hva i all verden er dette for noe?"
        description="Om Mine Verktøy"
        pubDate={new Date('September 13 2023')}

>
    <p>
        Hei, jeg heter Thomas og jeg liker å lese og lære om hvordan andre mennesker arbeider. Kanskje du også synes det
        er artig?
    </p>

    <p>
        Datamaskiner, mobiltelefoner, webtjenester, programmer og annen teknologi danner rammen for vårt arbeid og
        fritid. Og samtidig bruker mange av oss mye analog teknologi fremdeles—blyanter, papir, notatbøker, kameraer,
        alt mulig.
    </p>

    <p>
        <strong>Mine Verktøy</strong> er en samling av intervjuer der ulike mennesker forteller hva de
        bruker til daglig for å få ting gjort.
    </p>

    <p>
        Har du en kreativ jobb og et sterkt forhold til gode verktøy? Eller kjenner du noen andre som har det? <strong>Ta
        kontakt!</strong> Jeg leter etter engasjerte folk som har lyst til å fortelle om sine egne "setups" og
        verktøyvalg.
    </p>

    <p>Mine Verktøy kjørte i første opplag under 2011 men stanset opp og ramlet av webben en lang periode. Vi er nå tilbake for å bli. Konseptet er opprinnelig basert på (og velsignet av) <a href="http://usesthis.com">Uses This</a>. </p>

    <p>
        <em> mvh <a
                href="mailto:thomas+mineverktoy@tknilsson.com">Thomas Kjeldahl Nilsson</a>
        </em>
    </p>

</Layout>
