---
const today = new Date();
---

<footer>
<hr/>

	<p>Få oppdateringer via <a href="/rss.xml">RSS</a> eller <a href="http://twitter.com/mineverktoy">Twitter</a>.</p>

	<p>Nettstedet er lisensiert under en <a href="http://creativecommons.org/licenses/by-sa/3.0/">Attribution-ShareAlike 3.0 Unported</a> lisens.

</footer>
<style>
	hr {
		width: 420px;
	}

	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
