---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h1><a href="/"><span id="logo-first-part">mine</span>Verktøy</a></h1>


		<div class="internal-links">
			<HeaderLink href="/">Intervjuer</HeaderLink>
			<HeaderLink href="/om">Hva er dette?</HeaderLink>
		</div>

	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 90%;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		nav {
			flex-direction: column;
		}
	}
</style>
